@inject BaseUrlProvider BaseUrlProvider

<!DOCTYPE html>

<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@BaseUrlProvider.BaseUrl" />
    <link rel="icon" href="favicon.png" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/blazor-error.css" rel="stylesheet" />
    <link href="css/blazor.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@{
}