@page "/create-room"
@model GS.PPoker.Pages.CreateRoom

@{
    ViewData["title"] = "Create Room";
}

<div id="pg-create-room">
    <div id="pg-doorway">
        <div class="card">
            <h3>ساختن اتاق</h3>
            <form method="post">
                <div>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                </div>
                <div>
                    <label asp-for="Votes"></label>
                    <input asp-for="Votes" />
                </div>
                <button type="submit">ساختن اتاق</button>
            </form>
        </div>
    </div>
</div>